<h4 align="left">
  <br class="visible-xs-block">
  <a href="{{site.baseurl}}{{post.url}}">
    <strong>{{ post.title }}</strong>
  </a>
  <br>
  <small style="text-transform: capitalize"><strong>{{ post.date | date_to_string }}</strong> .in <a href="{{site.baseurl}}/category/{{ post.category | downcase }}">{{ post.category }}</a> . by <a href="#">faisal</a></small>
  <small style="text-transform: initial">
  	{% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags/{{tag | downcase}}">#{{ tag }}</a>
     {% endfor %}
  </small>
  <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
</h4>
<hr>