// Variables

$primary: #6293CD;
$header: #6293CD;
$light: #fff;
$dark: #000;
$font-color: #414141;
$footer-bg: #212121;
$main-bg :  #eee;


$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $header;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $light;

//social color
$facebook: #306199;
$twitter: #00C4FC;
$google-plus: #e93f2e;
$github: #5F635F;
$rss: #E9B22E;

//page color
$page-blog : #6E5B8F;
$page-categories: #56918A;
$page-tags: #976277;
$page-index: #597697;
$page-error: #313537;
$page-resume: #02B875;
