<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">
  {% include navigation.html %}
  <header class="header-bg page-cv">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <h1>Hi, My Name is Faisal</h1>
          <h4>I'm Beginner Web & Mobile (Android) Developer</h4>
        </div>
      </div>
    </section>
  </header>
  <section id="page" class="container content-section text-justify">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      </div>
    </div>
  </section>
  {% include footer.html %}
  {% include js.html %}
</body>
</html>