<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">
  {% include navigation.html %}
  <header class="header-bg page-resume">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <h1>Hi, My Name is Faisal</h1>
          <h4>I'm Beginner Web &amp; Mobile (Android) Developer</h4>
        </div>
      </div>
    </section>
  </header>
  <section id="page" class="container content-section text-justify">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="resume">
          <h2>Personal Infomation</h2>
          <p>
            I'm {{ site.time | date: "%Y" | minus: 1989 }} years old Web and Mobile Developer with passion for the Internet, Mobile and Digital World. I have been coding around {{ site.time | date: "%Y" | minus: 2012 }} years ago, i have no real project at this time, but i always learn new things about digital goods almost every days and this is my <a href="http://github.com/inifaisal">Github repo</a> if you interest to see what i do.
          </p>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
  </body>
  </html>